body{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),
            url("https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    color: #e0e2c3;
    font-family: Palatino;
}

small{
    font-size: smaller;
}

a{
  color: #e0e2c3;
}

p{
  text-indent: 50px;
}

#profileImg{
    border-radius: 50%;
    margin-top: 210px;
}

#contactInfo{
    margin-top: 150px;
}

#projectInfo{
    margin-top: 60px;
}

#resume{
    margin-top: 80px;
}

#aboutMe{
    margin-top: 90px;
}

#welcomePage{
    color: #e0e2c3;
}

.jumbotron{
      background-color: #545868;
      color: #e0e2c3;
      opacity: .9;
}

.upperCased{
    text-transform: uppercase;
}

.centerText{
    text-align: center;
}

.indentLine{
    text-indent: 70px;
}

.resumeImg{
    border-radius: 10%;
}

.nav.navbar-nav li a {
    color: #e0e2c3;
}

.header{
    background-color: #38414f;
}

.jumbotron-contact{
    width: 800px;
    align-content: center;
}

.nameHeader{
    font-size: 5;
}

.carousel-indicators li { 
    visibility: hidden; 
}

.carousel img {
    margin: auto;
    border-radius: 25px;
}

/* .carouselSpacing{
    margin-top: 75px;
    margin-bottom: 75px;
}

#luckySevensCarousel{
    width:700px;
    height:250px;
}

#weatherAppCarousel{
    width:700px;
    height:400px;
}

#vendingMachineCarousel{
    width:700px;
    height:250px;
}

#VendingMachineSpringCarousel{
    width:700px;
    height:250px;
}

#superHeroesCarousel{
    width:700px;
    height:250px;
} */
