body{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),
            url("https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#pageHeader{
    text-align: center;
}

#profileImg{
    border-radius: 50%;
}

.jumbotron{
      background-color: #545868;
      color: #e0e2c3;
      opacity: .9;
}

small{
      font-size: smaller;
}

.upperCased{
    text-transform: uppercase;
}

.centerText{
    text-align: center;
}

.indentLine{
    text-indent: 70px;
}

.resumeImg{
    border-radius: 10%;
}

.a{
    color: #e0e2c3;
}
