body{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),
            url("https://upload.wikimedia.org/wikipedia/commons/9/90/In_Death_Valley_Calif_-_Eureka_Dunes_%2815873225860%29.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    color: #e0e2c3;
    font-family: Palatino;
}

small{
    font-size: smaller;
}

a{
  color: #e0e2c3;
}

p{
  text-indent: 50px;
  width:450px;
  margin: auto;
}

#profileImg{
    border-radius: 50%;
    margin-top: 210px;
}

#contactInfo{
    margin-top: 150px;
}

#projectInfo{
    margin-top: 60px;
}

#resume{
    margin-top: 80px;
}

#aboutMe{
    margin-top: 90px;
}

#welcomePage{
    color: #e0e2c3;
}

.jumbotron{
      background-color: #545868;
      color: #e0e2c3;
      opacity: .9;
}

.upperCased{
    text-transform: uppercase;
}

.centerText{
    text-align: center;
}

.indentLine{
    text-indent: 70px;
}

.resumeImg{
    border-radius: 10%;
}

.nav.navbar-nav li a {
    color: #e0e2c3;
}

.header{
    background-color: #081c3d;
}

.jumbotron-contact{
    width: 800px;
    align-content: center;
}

.nameHeader{
    font-size: 5;
}

.carousel-indicators li { 
    visibility: hidden; 
}

.carousel img {
    margin: auto;
    border-radius: 25px;
    height: 250px;
}
